<ion-list color="dark">
  <ion-item-sliding *ngFor="let pending of deseosService.listas | filtroCompletado: terminada">
    <ion-item-options side="start">
      <ion-item-option (click)="edit(pending)" color="primary">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    <ion-item detail color="dark" (click)="listaDetail(pending.id)">
      <ion-label>{{ pending.title }}</ion-label>
      <ion-note slot="end" color="tertiary">{{ pending.items.length }} items</ion-note>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="delete(pending)" color="danger">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>