<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">  
 <ion-list color="dark">
    <ion-item *ngFor="let pending of deseosService.listas" detail color="dark">
      <ion-label>{{ pending.title }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="newList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
